#myForm {
    text-align: center;
    width: 70%;
    margin: auto;
}
.jello-diagonal-2 {
    -webkit-animation: jello-diagonal-2 0.8s both;
    animation: jello-diagonal-2 0.8s both;
    box-shadow: 1px 2px 3px;
}
.form-control:focus {
    transform: scale(1.1);
}
@-webkit-keyframes jello-diagonal-2 {
    0% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
    30% {
        -webkit-transform: skew(-25deg -25deg);
        transform: skew(-25deg -25deg);
    }
    40% {
        -webkit-transform: skew(15deg, 15deg);
        transform: skew(15deg, 15deg);
    }
    50% {
        -webkit-transform: skew(-15deg, -15deg);
        transform: skew(-15deg, -15deg);
    }
    65% {
        -webkit-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
    }
    75% {
        -webkit-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
    }
    100% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
}
@keyframes jello-diagonal-2 {
    0% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
    30% {
        -webkit-transform: skew(-25deg -25deg);
        transform: skew(-25deg -25deg);
    }
    40% {
        -webkit-transform: skew(15deg, 15deg);
        transform: skew(15deg, 15deg);
    }
    50% {
        -webkit-transform: skew(-15deg, -15deg);
        transform: skew(-15deg, -15deg);
    }
    65% {
        -webkit-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
    }
    75% {
        -webkit-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
    }
    100% {
        -webkit-transform: skew(0deg 0deg);
        transform: skew(0deg 0deg);
    }
}

.dv-star-rating-empty-star i {

    color: white;

}

.dv-star-rating {
    font-size: 4vmax;
}

#header {
    font-family: 'Alfa Slab One', cursive;
    color: green;
    text-shadow: 2px 2px lightgreen;
}
