#paymentItem{
    width:60%;
    margin:5px auto;
}

#paymentList{
  height:40vh;
  overflow-y: auto;
}


#inputNum{
    width:50%;
    margin:auto;
  
}

#numControl{
    color:blue; 
}








.fade-in {
	-webkit-animation: fade-in 1.2s linear both;
	        animation: fade-in 1.2s linear both;
}

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @-webkit-keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  